<!DOCTYPE html>
<head>
    <%= stylesheet_link_tag  'application', :media => 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body id="top">
<header id="home">
    <section class="hero" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right">
                    <small id="nav-toggle"></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                    <h1 class="animated fadeInDown">Joshua JC Brown<span>Portfolio</span></h1>
                    <p class="animated fadeInUp delay-05s">My speciality is a precise balance between <em>sales, marketing and engineering.</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a href="#featuredProject" class="learn-more-btn">Featured Project</a>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="text-center" id="responsive">
    <div class="container-fluid nopadding responsive-services">
        <div class="wrapper">
            <div class="iphone">
                <div class="wp3"></div>
            </div>
            <div class="fluid-white"></div>
        </div>
        <div class="container designs" id="featuredProject">
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <div id="servicesSlider">
                        <ul class="slides">
                            <li>
                                <h1>Featured Project</h1>
                                <h3>Enplug Dashboard Redesign (AngularJS Application)</h3>
                                <p>The Enplug Dashboard Redesign is a completely new user interface for Enplug's customers. </p>
                                <p>
                                    Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan. </p>
                                <p>Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="swag text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>A user interface is like a joke <span><em>If you have to explain it,<br /> </em> it’s not that good.</span></h1>
                <a href="#portfolio" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="portfolio text-center section-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="myPortfolio">
                <h1 class="animated fadeInDown"><span>Projects</span></h1>
            </div>
            <div id="portfolioSlider">
                <ul class="slides">
                    <li>
                        <div class="col-md-4 wp4">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <%= image_tag "angularjs.png" %>
                                    <div class="overlay">
                                        <a href="mailto:hello@yoshprogramming.com" class="expand"><i class="fa fa-paper-plane"></i><br>Learn More - E-mail Me</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>AngularJS - Web Page Application</h2>
                            <p>Enplug, a digital signage software company, has an open platform approach. One application I wrote using the Enplug SDK was
                            an AngularJS Web Page application used to configure the Web Page application. <a href="https://github.com/Enplug/dashboard-web-page-app" target="_blank">View on Github</a></p>
                        </div>
                        <div class="col-md-4 wp4 delay-05s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <%= image_tag "rubyrails.png" %>
                                    <div class="overlay">
                                        <a href="mailto:hello@yoshprogramming.com" class="expand"><i class="fa fa-paper-plane"></i><br>Learn More - E-mail Me</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>Ruby on Rails - You're on it right now!</h2>
                            <p>That's right! This website is made using Ruby on Rails, paired with HTML5, Javascript and jQuery.</p>
                        </div>
                        <div class="col-md-4 wp4 delay-1s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <%= image_tag "angularfire.png" %>
                                    <div class="overlay">
                                        <a href="mailto:hello@yoshprogramming.com" class="expand"><i class="fa fa-paper-plane"></i><br>Learn More - E-mail Me</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>AngularJS + Firebase - Custom News Reader</h2>
                            <p>Like many other individuals, I read a wide-range of technology and new websites every morning. To resolve this dilemma, I'm creating a web application that pulls the news feeds you read every morning and provides it in a digestible format.
                                This project is currently under development, but check back soon for the beta release date!</p>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-4 wp4">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <%= image_tag "rubyig.png" %>
                                    <div class="overlay">
                                        <a href="mailto:hello@yoshprogramming.com" class="expand"><i class="fa fa-paper-plane"></i><br>Learn More - E-mail Me</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>Ruby - Analytics Program</h2>
                            <p>One of the most popular applications on the Enplug platform is Live Social Media. I was tasked with writing an application to solve the big data issue.
                                The first part involved an Extract, Transfer and Load from a Mongo Database into a PostgreSQL database. The second part involved writing an application to
                            perform statistical analysis on this data. Both of these parts were written using Ruby.</p>
                        </div>
                        <div class="col-md-4 wp4 delay-0.5s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <%= image_tag "angularjs.png" %>
                                    <div class="overlay">
                                        <a href="mailto:hello@yoshprogramming.com" class="expand"><i class="fa fa-paper-plane"></i><br>Learn More - E-mail Me</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>AngularJS - Waitlist.Me Application</h2>
                            <p>Waitlist Me, a wait list application, partnered with Enplug to create a Waitlist app for public displays. I was responsible for writing
                            the configuration page, in AngularJS, which allowed the Waitlist Me customers to fully customize their Waitlist.</p>
                        </div>
                        <div class="col-md-4 wp4 delay-1s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <%= image_tag "swift.png" %>

                                    <div class="overlay">
                                        <a href="mailto:hello@yoshprogramming.com" class="expand"><i class="fa fa-paper-plane"></i><br>Learn More - E-mail Me</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>Swift - Tic Tac Toe</h2>
                            <p>Swift, an innovative new program language for iOS & OSX, provides for powerful mobile applications. The Tic Tac Toe app is currently under
                            development. Check back soon for an update.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="subscribe text-center">
    <div class="container">
        <h1><i class="fa fa-paper-plane"></i><span>Have questions? Comments?</span></h1>
        <form>
            <a href="mailto:hello@yoshprogramming.com">E-mail Me</a>
        </form>
    </div>
</section>
